/* Body */
body{
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
/* Header */
.logo{
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: left;
        color: #4d5ae5;
}
.half-logo{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #2e2f42;
}
.nav-link{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2e2f42;
}
.nav-link:hover{
    color: #404bbf;
}
.nav-link:focus {
    color: #404bbf;
}
.adress{
    font-style: normal
}
.adress-link{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}
.adress-link:hover{
color: #404bbf;
}
.adress-link:focus{
    color: #404bbf;
}
/* main */
.hero-section{
    background-color: #2e2f42;
}
h1{
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    background-color: #2e2f42;
    color: #ffffff;
}
.hero-main-text{
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    background-color: #2e2f42;
    color: #ffffff;
}
h2{
            font-family: Roboto;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            text-transform: capitalize;
            color: #2e2f42;  
}
.team-main-text{
    font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}
.port-main-text{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
h3{
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2e2f42;
}
.about-list-main-text{
    font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2e2f42;
}
.team-list-main-text{
font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
}
.port-list-main-text{
    font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2e2f42;
}
.button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4D5AE5;
    cursor: pointer;
}
.button:hover{
    background-color: #404BBF;
}
.button:focus{
    background-color: #404BBF;
}
.team{
    background-color: #F4F4FD;
}
.team-list-item{
    background-color: #FFFFFF;
}
.team-text{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}
.port-list-text{
    font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
}
.about-text{
    font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
}
/* footer */
.footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    background-color: #2e2f42;
}
.footer-logo{
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4d5ae5;
}
.half-footer-logo{
    color: #f4f4fd;
}
.footer-text{
    font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #F4F4FD;
}
